In [1]:
d={
    'A':[1,2,3,4,5],
    'B':[3,4,6,7,8],
    'C':[5,6,7,8,9]
}

In [2]:
import pandas as pd

In [3]:
df=pd.DataFrame(d)
df

   A  B  C
0  1  3  5
1  2  4  6
2  3  6  7
3  4  7  8
4  5  8  9

In [4]:
df.to_csv("../data/mydata.csv")